@import url(https://fonts.googleapis.com/css?family=Meddon);

body {
	padding-top: 10%;
	text-align: center;
	background-color: #16334F;
}

.weddingFont {
	font-family: 'Meddon';
}

.title {
	font-size: 40px;
	color: #C0CAA2;
}

.date {
	font-size: 20px;
	color: #FC5252;
}